[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "~=7.0.0"
docker = "==4.2.0"
molecule = "==3.0.3"
ansible-lint = "*"
yamllint = "*"
flake8 = "*"
antsibull-docs = "*"
sphinx-ansible-theme = "*"

[requires]
python_version = "3.9"
