[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "~=8.5.0"
ansible-compat = "==3.0.1"
ansible-lint = "~=6.16.0"
antsibull-changelog = "*"
antsibull-docs = "*"
flake8 = "*"
molecule = "~=4.0.0"
molecule-docker = "*"
requests = "==2.32.2"
sphinx-ansible-theme = "*"
yamllint = "*"

[requires]
python_version = "3.9"
