[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "~=7.0.0"
molecule = "~=4.0.0"
ansible-lint = "*"
yamllint = "*"
flake8 = "*"
antsibull-docs = "*"
sphinx-ansible-theme = "*"
molecule-docker = "*"

[requires]
python_version = "3.9"
